<nav>
    <div class="box-1">
        <div class="nav-div nav-div-1">
            <a routerLink="/">Home</a>
        </div>
        <div class="nav-div nav-div-2">
            <a routerLink="/photo">Photo Gallery</a>
        </div>
        <div class="nav-div nav-div-3">
            <img class="img-nav-div-3" src="assets/img/tree.png">
            <p>Dynamic Photo Blog</p>
        </div>
        <div class="nav-div nav-div-4">
            <a routerLink="/about">About</a>
        </div>
        <div class="nav-div nav-div-5">
            <a routerLink="/nate">Nate's Bio</a>
        </div>
    </div>
</nav>